html,body {
    padding: 0px;
    margin: 0px;
}

.layout {

    --layout-menu-width: 300px;
    --layout-header-height: 60px;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .layout-menu {
        border-right: 1px solid #ececec;
        position: fixed;
        left: 0px;
        width: var(--layout-menu-width);
        bottom: 0px;
        top: var(--layout-header-height);
        overflow: auto;
        z-index: 1;
        box-sizing: border-box;
    }

    .layout-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--layout-header-height);
        background-color: #fff;
        border-bottom: 1px solid #ececec;
        display: grid;
        grid-template-columns: var(--layout-menu-width) 1fr;
        z-index: 1;

        &.fixed {
            position: fixed;
            z-index: 1;
        }
    }

    .layout-content {
        position: relative;
        padding-left: var(--layout-menu-width);
        padding-top: var(--layout-header-height);

        > div {
            padding: 20px;
        }
    }

    .layout-logo {
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 900;
    }
}

.page-menu {
    padding: 7px 20px;
    // border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    &.selected {
        background-color: var(--color-core-blue-0);
        border-right: 5px solid var(--color-core-blue-2);
    }

    a {
        flex: 1 1 auto;
        text-decoration: none;
        color: var(--color-core-black);
    }
}

.page-title {
    font-size: var(--size-font-200);
    color: var(--color-core-gray-8);
    padding: 7px 15px;
    background-color: var(--color-core-gray-0);
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
}

.version {
    flex: none;
    display: block;
    font-size: 12px;
    color: gray;
}


@media (max-width: 800px) { 
    .layout {
        --layout-header-height: 48px;
        position: static;
        display: block;
        .layout-logo {
            display: none;
        }

        .layout-header {
            display: flex;
            position: fixed;
            z-index: 1;
            left: 0;
            right:0;
            top: 0;
            background-color: rgba(255, 255, 255, 0.5);
            height: var(--layout-header-height);
            align-items: center;
            // justify-content: flex-end;
        }

        .layout-menu {
            display: none;
        }

        .layout-content {
            padding: 20px;
            padding-top: var(--layout-header-height);
        }
    }
}


@media (max-width: 600px) {
    .layout {
        .layout-header {
            display: flex;
            justify-content: space-between;
            padding: 0px 10px;
            padding-right: 0px;
            .layout-logo {
                flex: none;

                height: 100%;
                display: inline-block;
            }

            .layout-tools {
                flex: none; 
                justify-content: flex-end;
                width: 40px;
                height: 100%;
                text-align: right;
            }

        }
    }
}