.markdown-page {

    margin: 0 auto;
    width: 100%;

    padding: 32px 48px;
    box-sizing: border-box;

    > .markdown-page-content {
        display: flex;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            .table-of-contents {
                display: none;
            }

            .content-container {
                width: 100%;
            }
        }

        .content-container {
            margin: 0 auto;
            max-width: 800px;

            h1,h2,h3,h4,h5,h6 {
                padding: 5px;
            }

            *:target {
                position: relative;
                color: blue;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: linear-gradient(to right, white, black);
                }
            }
        }

        > *:first-child {
            flex: 1 1 auto;
        }
    
        > *:last-child {
            flex: none;
        }
    }


    .filename {
        text-align: right;

        &:last-child {
            margin-top: 100px;
        }

    }

}