.page-tools {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1;
    // border-bottom: 1px solid #e0e0e0;
    gap: 10px;
    padding: 0px 10px;
    z-index: 1;
    flex: 1 1 auto;
    background-color: var(--color-background-default);

    .divider {
        display: inline-block;
        height: 20px;
        width: 1px;
        background-color: var(--color-border);
        margin: 0px 10px;
        vertical-align: middle;
        visibility: hidden;

    }
    a {
        text-decoration: none;
        // background-color: var(--color-blue-0);
        padding: 5px 10px;
        color: var(--color-gray-6);

        &.selected {
            // background-color: var(--color-blue-1);
            border-radius: 4px;
            // font-weight: bold;
            color: var(--color-text-header-default);
            text-decoration: underline;
            text-underline-offset: 21px;
            text-decoration-thickness: 2px;

        }
    }

    .sm {
        display: none;
        flex: 1 1 auto;
        height: 100%;
    }

    .lg {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 770px) {

    .page-tools {
        padding: 0px;
        .sm {
            display: flex;
            align-items: center;
        }
    
        .lg {
            display: none;
        }
    }

}

