.page-menu {
    padding: 10px 20px;
    // border-radius: 5px;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    &.selected {
        background-color: var(--color-blue-1) !important;
        // border-right: 5px solid var(--color-blue-5);
        color: var(--color-text-header-default);
        font-weight: bold;
    }

    &.disabled {
        > * {
            color: gray !important;
        }

    }

    &:hover {
        background-color: rgba(199, 238, 255, 0.269);
        color: var(--color-text-header-default);
    }

    a {
        flex: 1 1 auto;
        text-decoration: none;
        color: inherit;
        display: block;
    }

    &[data-depth="0"] {
        padding-left: 15px;
        font-weight: bold;
        font-size: 15px;
        color: var(--color-text-header-default);
    }


    &[data-depth="1"] {
        padding-left: 30px;
        font-size: 14px;
    }

    &[data-depth="2"] {
        padding-left: 50px;
        font-size: 12px;
        color: var(--color-gray-6);
    }

    &[data-depth="3"] {
        padding-left: 70px;
        font-size: 12px;
        color: var(--color-gray-5);        
    }
    margin-bottom: 2px;
}

.page-title {
    font-size: var(--size-font-200);
    color: var(--color-blue-6);
    padding: 7px 15px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-style: wavy;
    // background-color: var(--color-gray-0);
    // border-bottom: 1px solid #ececec;
    // border-top: 1px solid #ececec;
}