.table-of-contents {
    display: block;
    position: relative;
    padding-left: 32px;
    width: 100%;
    max-width: 256px;  
    overflow: auto;  
    height: 700px;

    > .items {
        position: fixed;
        top: 130px;

        --data-level: 10px;

        > .title {
            padding-left: 0px;
            font-size: 20px;
            text-decoration: underline;
            text-underline-offset: 10px;
            margin-bottom: 40px;
        }

        > * {
            display: block;
            margin-bottom: 8px;
            padding-left: 32px;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            transition: color 0.2s ease-in-out;
        }

        > [data-level="1"] {
            padding-left: calc(var(--data-level) * 0);
        }

        > [data-level="2"] {
            padding-left: calc(var(--data-level) * 1);
        }

        > [data-level="3"] {
            padding-left: calc(var(--data-level) * 2);
        }

        > [data-level="4"] {
            padding-left: calc(var(--data-level) * 3);
        }

        > [data-level="5"] {
            padding-left: calc(var(--data-level) * 4);
        }

        > [data-level="6"] {
            padding-left: calc(var(--data-level) * 5);
        }

        > .selected {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
        
        a {
            color: var(--color-text-header-default);
            text-underline-offset: 3px;
        }

    }
}