.elf--button {
  cursor: pointer;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;

  > span {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    > * {
      vertical-align: middle;
    }
  }
}
