.logo {
    > * { 
        white-space: nowrap;
    }
    a {
        display: flex;
        align-items: center;
        color: var(--color-text-default);
        font-size: clamp(1rem, 3vw, 1.5rem);
        text-decoration: none;
        font-weight: bold;
        gap: 3px;
    }

    .symbol {
        color: white;
        background-color: #fe6251;
        padding: 3px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        line-height: 1;
        padding: 0px 5px;
        vertical-align: middle;
        align-items: center;
    }
}
