.elf--alert {
  --elf--alert-border-color: var(--alert-color-border-default);
  --elf--alert-padding: 10px 20px;
  --elf--alert-font-size: var(--elf--font-size, 14px);
  --elf--alert-background-color: var(
    --alert-color-background-default
  );
  --elf--alert-title-color: var(--alert-color-title-default);
  --elf--alert-content-color: var(--alert-color-content-default);
  --elf--alert-border-radius: 4px;

  // height: var(--elf--alert-height, 30px);
  padding: var(--elf--alert-padding);
  border-radius: var(--elf--alert-border-radius);
  background-color: var(--elf--alert-background-color);
  color: var(--elf--alert-color);
  border: 1px solid var(--elf--alert-border-color);
  position: relative;

  > .elf--alert-close {
    position: absolute;
    right: 15px;
    top: 15px;
    transform: scale(1.5);
    cursor: pointer;
    color: var(--elf--alert-title-color);    
  }

  > .elf--alert-title {
    color: var(--elf--alert-title-color);
    margin-bottom: 10px;
    font-weight: 500;
  }

  > .elf--alert-content {
    color: var(--elf--alert-content-color);

    > *:last-child {
      margin-bottom: 0px;
    }
  }


  &.primary {
    --elf--alert-background-color: var(
      --alert-color-background-primary
    );
    --elf--alert-title-color: var(--alert-color-title-primary);
    --elf--alert-content-color: var(--alert-color-content-primary);
    border-width: 0px;

    &.weak {
      --elf--alert-background-color: var(
        --alert-color-background-weak-primary
      );
      --elf--alert-title-color: var(--alert-color-title-weak-primary);
      --elf--alert-content-color: var(--alert-color-content-weak-primary);
      border-width: 1px;
      --elf--alert-border-color: var(--alert-color-title-weak-primary);
    }
  }

  &.secondary {
    --elf--alert-background-color: var(
      --alert-color-background-secondary
    );
    --elf--alert-title-color: var(--alert-color-title-secondary);
    --elf--alert-content-color: var(--alert-color-content-secondary);

    --elf--alert-color: white;

    &.weak {
      --elf--alert-background-color: var(
        --alert-color-background-weak-secondary
      );
      --elf--alert-title-color: var(--alert-color-title-weak-secondary);
      --elf--alert-content-color: var(--alert-color-content-weak-secondary);
      border-width: 1px;
      --elf--alert-border-color: var(--alert-color-title-weak-secondary);
    }
  }

  &.success {
    --elf--alert-background-color: var(
      --alert-color-background-success
    );
    --elf--alert-title-color: var(--alert-color-title-success);    
    --elf--alert-content-color: var(--alert-color-content-success);
    border-width: 0px;

    &.weak {
      --elf--alert-background-color: var(
        --alert-color-background-weak-success
      );
      --elf--alert-title-color: var(--alert-color-title-weak-success);
      --elf--alert-content-color: var(--alert-color-content-weak-success);
      border-width: 1px;
      --elf--alert-border-color: var(--alert-color-title-weak-success);
    }
  }

  &.danger {
    --elf--alert-background-color: var(
      --alert-color-background-danger
    );
    --elf--alert-title-color: var(--alert-color-title-danger);     
    --elf--alert-content-color: var(--alert-color-content-danger);
    border-width: 0px;

    &.weak {
      --elf--alert-background-color: var(
        --alert-color-background-weak-danger
      );
      --elf--alert-title-color: var(--alert-color-title-weak-danger);
      --elf--alert-content-color: var(--alert-color-content-weak-danger);
      border-width: 1px;
      --elf--alert-border-color: var(--alert-color-title-weak-danger);
    }
  }

  &.info {
    --elf--alert-background-color: var(
      --alert-color-background-info
    );
    --elf--alert-title-color: var(--alert-color-title-info);      
    --elf--alert-content-color: var(--alert-color-content-info);
    border-width: 0px;

    &.weak {
      --elf--alert-background-color: var(
        --alert-color-background-weak-info
      );
      --elf--alert-title-color: var(--alert-color-title-weak-info);
      --elf--alert-content-color: var(--alert-color-content-weak-info);
      border-width: 1px;
      --elf--alert-border-color: var(--alert-color-title-weak-info);
    }
  }

  &.warning {
    --elf--alert-background-color: var(
      --alert-color-background-warning
    );
    --elf--alert-title-color: var(--alert-color-title-warning);   
    --elf--alert-content-color: var(--alert-color-content-warning); 
    --elf--alert-color: white;
    border-width: 0px;

    &.weak {
      --elf--alert-background-color: var(
        --alert-color-background-weak-warning
      );
      --elf--alert-title-color: var(--alert-color-title-weak-warning);
      --elf--alert-content-color: var(--alert-color-content-weak-warning);
      border-width: 1px;
      --elf--alert-border-color: var(--alert-color-title-weak-warning);
    }
  }
}
