.elf--app-layout {
    --elf--app-layout-resize-bar-background-color: transparent;
    --elf--app-layout-resize-bar-hover-color: var(--elf--primary-color);
    --elf--app-layout-resize-bar-size: 6px;
    --elf--app-layout-border-color: #e0e0e0;


    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .elf--app-layout-item {
        position: relative;
        // overflow: hidden;
    }

    .elf--app-layout-resize-bar {
        transition: background-color 0.2s ease-in-out;
        background-color: var(--elf--app-layout-resize-bar-background-color);
        z-index: 1;
        &:hover {
            --elf--app-layout-resize-bar-background-color: var(--elf--app-layout-resize-bar-hover-color);
        }
    }

    > .elf--app-layout-body {
        order: 1;
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        z-index: 0;


        > .elf--app-layout-item[data-direction="left"] {
            order: 1;
            flex: none;
            position: relative; 
            border-right: 1px solid var(--elf--app-layout-border-color);
            box-sizing: border-box;            

            > .elf--app-layout-resize-bar {
                position: absolute;
                top: 0px;
                left: 100%;
                bottom: 0px;
                width: var(--elf--app-layout-resize-bar-size);
                cursor: col-resize;
            }

        }    

        > .elf--app-layout-item[data-direction="center"] {
            order: 2;
            flex: 1 1 auto;            
        }
    
        > .elf--app-layout-item[data-direction="right"] {
            order: 3;
            flex: none;
            position: relative;
            border-left: 1px solid var(--elf--app-layout-border-color);            
            box-sizing: border-box;

            > .elf--app-layout-resize-bar {
                position: absolute;
                top: 0px;
                right: 100%;
                bottom: 0px;
                width: var(--elf--app-layout-resize-bar-size);
                cursor: col-resize;
            }            
        }    
    

    }

    > .elf--app-layout-item[data-direction="top"] {
        order: 1;
        flex: none;
        // border-bottom: 1px solid var(--elf--app-layout-border-color);            
        box-sizing: border-box;        

        z-index: 1;

        > .elf--app-layout-resize-bar {
            position: absolute;
            right: 0px;
            top: 100%;
            left: 0px;
            height: var(--elf--app-layout-resize-bar-size);
            cursor: row-resize;
        }                    
    }

    > .elf--app-layout-item[data-direction="bottom"] {
        order: 3;
        flex: none;        
        border-top: 1px solid var(--elf--app-layout-border-color);            
        box-sizing: border-box;        
        z-index: 1;

        > .elf--app-layout-resize-bar {
            position: absolute;
            right: 0px;
            bottom: 100%;
            left: 0px;
            height: var(--elf--app-layout-resize-bar-size);
            cursor: row-resize;
        }                            
    }    



} 