.elf--button {
  --elf--button-border-color: var(--button-color-border-default);
  --elf--button-padding: 6px;
  --elf--button-font-size: var(--elf--font-size, 14px);
  --elf--button-background-color: var(
    --button-color-background-default
  );
  --elf--button-color: rgba(0, 0, 0, 0.8);
  --elf--button-border-radius: 4px;
  --elf--button-disabled-color: var(--elf--disabled-color);
  --elf--button-inner-gap: 6px;
  --elf--button-selected-background-color: var(--button-selected-background-default);
  --elf--button-selected-border-color: var(--button-selected-background-default);

  // height: var(--elf--button-height, 30px);
  padding: var(--elf--button-padding);
  border-radius: var(--elf--button-border-radius);
  line-height: 16px;
  font-size: var(--elf--button-font-size);
  background-color: var(--elf--button-background-color);
  color: var(--elf--button-color);
  border: 1px solid var(--elf--button-border-color);
  cursor: pointer;
  white-space: nowrap;

  .elf--icon {
    width: 20px;
    height: 20px;
  }

  &.selected {
    background-color: var(--elf--button-selected-background-color);

    &.primary {
        --elf--button-selected-background-color: var(--button-color-background-primary);
    }

    &.secondary {
        --elf--button-selected-background-color: var(--button-color-background-secondary);
    }

    &.danger {
        --elf--button-selected-background-color: var(--button-color-background-destructive);
    }

    &.success {
        --elf--button-selected-background-color: var(--button-color-background-success);
    }

    &.info {
        --elf--button-selected-background-color: var(--button-color-background-info);
    }

    &.warning {
        --elf--button-selected-background-color: var(--button-color-background-warning);
    }

    // color: var(--elf--button-selected-color);
    // border-color: var(--elf--button-selected-border-color);
  }

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--elf--button-inner-gap);
  }

  &.large {
    --elf--button-font-size: 16px;
    --elf--button-padding: 10px;
  }

  &.xlarge {
    --elf--button-font-size: 20px;
    --elf--button-padding: 16px;
  }


  &.small {
    --elf--button-font-size: 12px;
    --elf--button-padding: 3px;
    --elf--button-inner-gap: 4px;
  }

  &.extra-small {
    --elf--button-font-size: 10px;
    --elf--button-padding: 1px;
    --elf--button-inner-gap: 2px;

    .elf--icon {
      width: 16px;
      height: 16px;
    }
  }

  &.round {
    padding-left: 10px;
    padding-right: 10px;
    --elf--button-border-radius: 20px;
  }

  &.circle {
    --elf--button-border-radius: 50%;
  }

  &[disabled] {
    cursor: not-allowed;
    --elf--button-background-color: var(
      --button-disabled-background-default
    ) !important;
    --elf--button-color: var(--button-disabled-text-default) !important;
    --elf--button-border-color: transparent !important;

    &.quiet {
        --elf--button-background-color: transparent !important;
    }
  }

  &:hover,
  &.hover {
    --elf--button-background-color: rgba(0, 0, 0, 0.06);
  }

  &:active,
  &.active {

    &.primary {
        --elf--button-background-color: var(--color-down-primary);
    }
    --elf--button-background-color: rgba(0, 0, 0, 0.1);
  }  

  &.primary {
    --elf--button-background-color: var(
      --button-color-background-primary
    );
    --elf--button-color: white;
    border-width: 0px;

    &.focus {
      --elf--button-border-color: rgba(0, 0, 0, 0.3);
      border-width: 2px;
    }

    &[disabled] {
      --elf--button-background-color: var(--elf--disabled-color);
    }
  }

  &.secondary {
    --elf--button-background-color: var(
      --button-color-background-secondary
    );
    --elf--button-color: white;
    border: 0px solid var(--elf--button-border-color);

    &[disabled] {
      --elf--button-background-color: var(--elf--disabled-color);
    }
  }

  &.success {
    --elf--button-background-color: var(
      --button-color-background-success
    );
    --elf--button-color: white;
    border-width: 0px;
  }

  &.danger {
    --elf--button-background-color: var(
      --button-color-background-danger
    );
    --elf--button-color: white;
    border-width: 0px;
  }

  &.info {
    --elf--button-background-color: var(
      --button-color-background-info
    );
    --elf--button-color: white;
    border-width: 0px;
  }

  &.warning {
    --elf--button-background-color: var(
      --button-color-background-warning
    );
    --elf--button-color: white;
    border-width: 0px;
  }

  &.outline {
    --elf--button-background-color: inherit;
    border-width: 1px;
    color: inherit;

    &.primary {
      --elf--button-border-color: var(--button-color-border-primary);
      --elf--button-color: var(
        --button-color-background-primary
      );
    }

    &.secondary {
      --elf--button-border-color: var(
        --button-color-border-secondary
      );
      --elf--button-color: var(--button-color-background-secondary);
    }

    &.success {
      --elf--button-border-color: var(--button-color-border-success);
      --elf--button-color: var(--button-color-background-success);
    }

    &.danger {
      --elf--button-border-color: var(--button-color-border-danger);
      --elf--button-color: var(--button-color-background-danger);
    }

    &.info {
      --elf--button-border-color: var(--button-color-border-info);
      --elf--button-color: var(--button-color-background-info);
    }

    &.warning {
      --elf--button-border-color: var(--button-color-border-warning);
      --elf--button-color: var(--button-color-background-warning);
    }
  }

  &.quiet {
    --elf--button-background-color: transparent;
    border-width: 0px;
  }
}
