.elf--dialog {
    --elf--dialog-position: "relative";
    --elf--dialog-width: 240px;
    --elf--dialog-background: white;
    --elf--dialog-border-color: rgba(0, 0, 0, 0.2);
    --elf--dialog-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
    --elf--dialog-border-radius: 2px;

    position: var(--elf--dialog-position);
    display: block;
    background-color: var(--elf--dialog-background);
    width: var(--elf--dialog-width);

    border: 0.5px solid var(--elf--dialog-border-color);
    box-shadow: var(--elf--dialog-box-shadow);
    border-radius: var(--elf--dialog-border-radius);

    opacity: 0;
    transition: all 0.2s ease-in-out;

    &.visible {
        opacity: 1;
    }

    &.center {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    > .elf--dialog-title {
        height: 40px;
        display: flex;
        box-sizing: border-box;
        border-bottom: 1px solid var(--elf--dialog-border-color);
        // padding: 0px 16px 0px 16px;
        align-items: center;

        > .elf--dialog-title-text {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            // justify-content: center;
            padding-left: 16px;
            font-weight: 600;
        }

        > .elf--dialog-title-tools {
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2px;
        }

        > .elf--dialog-title-close {
            flex: none;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 200;
            font-size: 24px;
            cursor: pointer;
        }
    }

    > .elf--dialog-content {
        padding: 16px;

        > * {

            &.full {
                margin: -8px;
                padding: 8px 16px;
            }
        }

        > .elf--dialog-content-tools {
            display: flex;
            margin-top: 16px;
            align-items: center;
            justify-content: flex-end;
            column-gap: 8px;
            position: relative;

            > .panel {
                flex: 1 1 auto;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                column-gap: 8px;

                &.left {
                    justify-content: flex-start;
                }
            }            
        }
    }
}