.elf--dialog {
    --elf--dialog-position: relative;
    --elf--dialog-width: 240px;
    --elf--dialog-height: auto;
    --elf--dialog-background-color: var(--dialog-color-background-default);
    --elf--dialog-border-color: var(--color-gray-1);
    --elf--dialog-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
    --elf--dialog-border-radius: 4px;
    --elf--dialog-padding: 20px;

    position: var(--elf--dialog-position);
    display: flex;
    flex-direction: column;
    background-color: var(--elf--dialog-background-color);
    width: var(--elf--dialog-width);
    height: var(--elf--dialog-height);

    border: 0.5px solid var(--elf--dialog-border-color);
    box-shadow: var(--elf--dialog-box-shadow);
    border-radius: var(--elf--dialog-border-radius);

    opacity: 0;
    transition: all 0.2s ease-in-out;
    padding: 10px 0px;

    &.no-border {
        --elf--dialog-border-color: transparent;
    }

    > .elf--dialog-divider {
        flex: none;
        display: block;
        height: 1px;
        background-color: var(--elf--dialog-border-color);
        margin: 10px var(--elf--dialog-padding);
    }

    &.visible {
        opacity: 1;
    }

    &.center {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    > .elf--dialog-title {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        padding: 10px var(--elf--dialog-padding);
        padding-top: 0px;
        flex: none;

        > .elf--dialog-title-text {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            // justify-content: center;
            font-weight: 600;
        }

        > .elf--dialog-title-tools {
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2px;
        }

        > .elf--dialog-title-close {
            flex: none;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 200;
            font-size: 24px;
            cursor: pointer;
        }
    }

    > .elf--dialog-content {
        flex: 1 1 auto;
        padding: 10px var(--elf--dialog-padding);
        text-align: left;

        > * {

            &.full {
                margin: -8px;
                padding: 8px 16px;
            }
        }
    }


    .elf--dialog-footer {
        flex: none;
        padding: 10px var(--elf--dialog-padding);        
        display: flex;
        margin-top: var(--elf--dialog-padding);
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        position: relative;
        overflow: auto;

        > .panel {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: 8px;

            &.left {
                justify-content: flex-start;
            }
        }            

        > * {
            min-width: 60px;
        }
    }
}