.elf--input-editor {
  --elf--input-editor-min-width: 50px;
  --elf--input-editor-max-width: 100%;
  --elf--input-editor-width: 100%;
  --elf--input-editor-border-color: var(--input-color-border-default);
  --elf--input-editor-outline-color: transparent;
  --elf--input-editor-border-radius: 1px;
  --elf--input-editor-background-color: var(--input-color-background-default);
  --elf--input-editor-color: var(--input-color-text-default);
  --elf--input-editor-font-size: 13px;
  --elf--input-editor-empty-color: rgba(0, 0, 0, 0.3);
  --elf--input-editor-placeholder-color: rgba(0, 0, 0, 0.3);
  --elf--input-editor-disabled-color: var(--color-gray-4);
  --elf--input-editor-padding: 6px 3px 6px 7px;
  --elf--input-editor-padding-right: 3px;

  min-width: var(--elf--input-editor-min-width);

  border: 1px solid var(--elf--input-editor-border-color);
  outline: 1px solid var(--elf--input-editor-outline-color);
  border-radius: var(--elf--input-editor-border-radius);
  box-sizing: border-box;
  display: flex;
  background-color: var(--elf--input-editor-background-color);
  border-radius: 2px;
  width: var(--elf--input-editor-width);

  &.multiline {
    height: var(--elf--input-editor-height, 44px);
  }

  &:hover,
  &.hover {
    &:empty {
      color: var(--elf--input-editor-empty-color);
    }
    --elf--input-editor-border-color: var(--color-gray-3);
  }

  &:focus:not(.readonly):not(.disabled):not(.invalid),
  &:focus-within:not(.readonly):not(.disabled):not(.invalid),
  &.focused:not(.readonly):not(.disabled):not(.invalid) {
    --elf--input-editor-border-color: var(--color-primary);
    --elf--input-editor-outline-color: var(--color-primary);

    /** FIXME: 아웃라인 크기를 정해야함 */
    outline: none;
  }

  &.disabled {
    --elf--input-editor-border-color: var(--color-gray-2);
    --elf--input-editor-placeholder-color: var(--color-gray-4);
    cursor: not-allowed;
    --elf--input-editor-background-color: var(--color-gray-1);
    --elf--input-editor-color: var(--elf--input-editor-disabled-color);
  }

  &.invalid:not(.disabled) {
    --elf--input-editor-border-color: var(--color-red-5);
    border-width: 2px;
  }

  &.readonly {
    --elf--input-editor-background-color: transparent !important;
    --elf--input-editor-border-color: transparent !important;
    // --elf--input-editor-color: var(--elf--input-editor-disabled-color);
  }

  &.textarea {
    textarea {
      resize: none;
    }
    &.resizable {
      textarea {
        resize: vertical;
      }
    }
  }

  > .elf--input-editor-icon {
    flex: none;
    width: 32px;
    height: 32px;
    transform: translate(-2px, -2px);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;

      path,
      use,
      circle,
      rect,
      polygon {
        fill: var(--elf--input-editor-empty-color);
      }
    }
  }

  &.icon {
    > .elf--input-area {
      > .elf--input-item {
        > input,
        textarea {
          padding-left: 0px;
        }
      }
    }
  }

  &.small {
    --elf--input-editor-font-size: 11px;
    --elf--input-editor-padding: 5px 10px;
  }

  &.medium {
    --elf--input-editor-font-size: 12px;
  }

  &.large {
    --elf--input-editor-font-size: 14px;
    --elf--input-editor-padding: 5px 12px;
  }

  &.extra-large {
    --elf--input-editor-font-size: 16px;
    --elf--input-editor-padding: 5px 15px;
  }

  > .elf--input-area {
    display: flex;
    height: 100%;
    flex: 1 1 auto;

    > .elf--input-item {
      flex: 1 1 auto;
      height: 100%;

      > input,
      > textarea {
        width: var(--elf--input-editor-width);
        height: 100%;
        border: none;
        box-sizing: border-box;
        outline: none;
        font-size: var(--elf--input-editor-font-size);

        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        padding: var(--elf--input-editor-padding);
        padding-right: var(--elf--input-editor-padding-right);
        background-color: transparent;
        color: var(--elf--input-editor-color);

        &:placeholder {
          --elf--input-editor-color: var(--elf--input-editor-placeholder-color);
        }

        &[disabled] {
          pointer-events: none;
          user-select: none;
        }
      }
    }
  }
}
