.elf--link-button {
    --elf--link-button-border-color: rgba(0, 0, 0, 0.8);
    --elf--link-button-padding: 7px 10px;
    --elf--link-button-font-size: var(--elf--font-size, 14px);
    --elf--link-button-background-color: transparent;
    --elf--link-button-color: rgba(24, 160, 251, 1);
    --elf--link-button-border-radius: 4px;
    --elf--link-button-disabled-color: var(--elf--disabled-color);

    // height: 30px;
    padding: var(--elf--link-button-padding);
    line-height: 16px;
    font-size: var(--elf--link-button-font-size);
    background-color: var(--elf--link-button-background-color);
    color: var(--elf--link-button-color);
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;

    &.elf--link-button-lg {
        --elf--link-button-font-size: 16px;
        --elf--link-button-padding: 12px 20px;
    }

    &.elf--link-button-sm {
        --elf--link-button-font-size: 12px;        
        --elf--link-button-padding: 3px 5px;
    }

    &.elf--link-button-shape-round {
        --elf--link-button-border-radius: 8px;
    }

    &.elf--link-button-shape-circle {
        --elf--link-button-border-radius: 50%;
    }


    &[disabled] {
        cursor: not-allowed;
        --elf--link-button-color: var(--elf--disabled-color) !important;
    } 

    &.primary {
        --elf--link-button-color: var(--elf--primary-color);

        &[disabled] {
            --elf--link-button-background-color: var(--elf--disabled-color);
        }

        &.destructive {
            --elf--link-button-background-color: var(--elf--primary-destructive-color);

            &[disabled] {
                --elf--link-button-background-color: var(--elf--disabled-color);
            }
        }
    }
    
    &.secondary {
        --elf--link-button-color: var(--elf--secondary-color);

        &[disabled] {
            --elf--link-button-background-color: var(--elf--disabled-color);
        }
    }

} 