.elf--menu {
    /* menu background color */
    --elf--menu-background-color: var(--menu-color-background-default);
    --elf--menu-font-color: var(--menu-color-text-default);
    /* menu border color */
    --elf--menu-border-color: rgba(0, 0, 0, 0.1);
    /* menu box-shadow */
    --elf--menu-box-shadow: var(--menu-shadow-default);
    /* menu default width */
    --elf--menu-width: 224px;
    /* menu max height */
    --elf--menu-max-width: 240px;
    /* menu item height */
    --elf--menu-item-height: 30px;
    /* menu item padding */
    --elf--menu-item-padding: 16px;
    /* menu item section title color */
    --elf--menu-item-section-title-color: var(--color-text-header-default);
    /* menu item divider color */
    --elf--menu-item-divider-color: var(--menu-color-border-default);    

    --elf--menu-item-hover-color: var(--menu-color-background-hover-default);
    /* menu direction */
    --elf--menu-direction-left: 100%;
    /* menu selected icon font size */
    --elf--menu-selected-icon-font-color: var(--color-blue-6);
    --elf--menu-selected-icon-font-size: 20px;

    --elf--menu-item-description-color: var(--color-gray-6);

    /* menu item font size */
    --elf--menu-item-font-size: 14px;

    /* menu position */
    --elf--menu-position: absolute;

    --elf--menu-left: 0px;
    --elf--menu-top: 0px;
    --elf--zindex: 1;

    background: var(--elf--menu-background-color);
    border: 0.5px solid var(--elf--menu-border-color);
    width: var(--elf--menu-width);
    max-width: var(--elf--menu-width);
    box-shadow: var(--elf--menu-box-shadow);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding:8px 0px;
    font-size: var(--elf--menu-item-font-size);
    position: var(--elf--menu-position);
    display: inline-block;
    left: var(--elf--menu-left);
    top: var(--elf--menu-top);
    z-index: var(--elf--zindex);
    user-select: none;
    text-align: left;

    // variant style - dark 
    &.dark {
        --elf--menu-background-color: var(--color-black);
        --elf--menu-font-color: var(--color-white);
        --elf--menu-border-color: rgba(255, 255, 255, 0.1);
        --elf--menu-item-section-title-color: var(--color-white);
        --elf--menu-item-divider-color: var(--color-border);
        --elf--menu-item-hover-color: var(--color-gray-7);
        --elf--menu-item-description-color: var(--color-gray-4);
    }

    &[data-direction="right"] {
        left: auto;
        right: 10px;
        li > .elf--menu {
            --elf--menu-direction-left: calc(-1 * var(--elf--menu-width));
        }
    }

    &[data-direction="center"] {
        left: 50%;
        transform: translateX(-50%);
    }    

    &.dropdown {
        // box-shadow: none;
        border-radius: 4px;
        --elf--menu-position: relative;
        
        li {
            padding: 0px 10px;
        }
    }

    &.compact {
        padding: 0px;
        min-width: auto;
        border: 0px;
        box-shadow: none;
        border-radius: 4px;

        li {
            padding: 2px 5px;

            > .menu-item-content {
                gap: 2px;
            }
            
        }
    }

    &.has-state {
        --elf--menu-width: var(--elf--menu-max-width);
    }

    &.contextmenu {
        --elf--menu-position: fixed;
    }

    li {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        // justify-content: center;
        // border-bottom: 1px solid var(--elf--menu-border-color);
        // margin-bottom: 16px;
        margin-left: 0px;
        padding: 5px var(--elf--menu-item-padding);
        color: var(--elf--menu-font-color);
        cursor: pointer;
        position: relative;
        user-select: none;

        > .menu-item-description {
            font-size: 12px;
            color: var(--elf--menu-item-description-color);
        }

        > .menu-item-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: var(--elf--menu-item-height);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            gap: 5px;

            > .value-area {
                display: flex;
                gap: 5px;
            }

            > a {
                color: var(--elf--menu-font-color);
            }

            > .menu-title {
                flex: 1 1 auto;
            }
    
            > .selected-icon {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex: none;
                font-weight: 700;
                color: var(--elf--menu-selected-icon-font-color);
                font-size: var(--elf--menu-selected-icon-font-size);
            }
    
    
            > .shortcut {
                flex: none;
                letter-spacing: 2px;
                --elf--menu-item-font-size: 15px;
            }
    
            > .icon {
                flex: none;
                display: flex;
                align-items: center;
                justify-content: center;
                // transform: scale(1.2);
                color: var(--color-gray-6);
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
    
        }


        &.custom {
            height: auto;
            min-height: var(--elf--menu-item-height);

            > * {
                flex: 1 1 auto;
            }
        }

        &.link {
            display: block;
            a {
                display: block;
                text-align: left;
            }
        }

        &:hover:not(.elf--divider):not(.custom):not([disabled]),
        &.hover {
            background-color: var(--elf--menu-item-hover-color);

            > .elf--menu {
                opacity: 1;
                pointer-events: all;              
                // transition: opacity 0.2s ease-in-out;                  
            }
        }
      
        &:active:not(.elf--divider):not(.custom):not([disabled]),
        &.active {
            background-color: var(--elf--menu-item-hover-color);

            > .elf--menu {
                opacity: 1;
                pointer-events: all;              
                // transition: opacity 0.2s ease-in-out;                  
            }          
        }  
      

        > .state {
            width: 16px;
            display: flex;
            align-items: center;
        }

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.5;

            > * {
                pointer-events: none;
            }
        }



        &:last-child {
            border-bottom: 0;
            margin-bottom: 0px;
        }

        &.elf--divider {

            height: 1px;
            display: block;
            margin-top: 10px;
            margin-bottom: 0px;
            border-top: 1px solid var(--elf--menu-item-divider-color);
            pointer-events: none;
            padding-bottom:3px;
        }

        &.section-title {
            padding: 5px 16px;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            display: flex;
            width: 100%;
            box-sizing: content-box;
            height: var(--elf--menu-item-height);
            align-items: flex-start;
            justify-content: center;
            color: var(--elf--menu-item-section-title-color);
            pointer-events: none;
            padding-bottom: 0px;
            // border-top: 1px solid var(--elf--menu-item-divider-color);
        }

        > .elf--menu {
            position: absolute;
            left: calc(var(--elf--menu-direction-left) - 2px);
            top: -8px;
            opacity: 0;
            pointer-events: none;
            // transition: opacity 0.2s ease-in-out;
        }
    }
}