.elf--notification {
    --elf--notification-background-color: #222222;
    --elf--notification-hover-color: var(--color-neutral-10);
    --elf--notification-color: var(--color-neutral-0);
    --elf--notification-border-color: rgba(0, 0, 0, 0.1);
    --elf--notification-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15), 0px 5px 17px rgba(0, 0, 0, 0.2);
    --elf--notification-tools-border-color: rgba(255, 255, 255, 0.19);
    --elf--notification-border-radius: 5px;
    --elf--notification-position: absolute;
    --elf--notification-hgap: 10px;
    --elf--notification-vgap: 10px;

    background-color: var(--elf--notification-background-color);
    border: 0.5px solid var(--elf--notification-border-color);

    box-shadow: var(--elf--notification-box-shadow);
    border-radius: var(--elf--notification-border-radius);   
    color: var(--elf--notification-color);
    
    width: 320px;
    height: 60px;

    display: flex;

    position: var(--elf--notification-position);


    &.elf--notification-direction-top-left {
        top: var(--elf--notification-hgap);
        left: var(--elf--notification-vgap);
    }

    &.elf--notification-direction-top-right {
        top: var(--elf--notification-hgap);
        right: var(--elf--notification-vgap);
    }

    &.elf--notification-direction-bottom-left {
        bottom: var(--elf--notification-hgap);
        left: var(--elf--notification-vgap);
    }

    &.elf--notification-direction-bottom-right {
        bottom: var(--elf--notification-hgap);
        right: var(--elf--notification-vgap);
    }

    &.elf--notification-direction-center {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);                
    }

    &.elf--notification-direction-top {
        top: var(--elf--notification-hgap);
        left: 50%;
        transform: translateX(-50%);                
    }

    &.elf--notification-direction-bottom {
        bottom: var(--elf--notification-hgap);
        left: 50%;
        transform: translateX(-50%);        
    }

    &.elf--notification-direction-left {
        left: var(--elf--notification-vgap);
        top: 50%;
        transform: translateY(-50%);        
    }

    &.elf--notification-direction-right {
        right: var(--elf--notification-vgap);
        top: 50%;
        transform: translateY(-50%);
    }

    .elf--notification-icon {
        flex: none;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;

        > svg {
            width: 24px;
            height: 24px;

            path {
                fill: var(--elf--notification-color);
            }
            
        }
    }

    .elf--notification-content {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
    }

    .elf--notification-tools {
        flex: none;
        width: 72px;
        box-sizing: border-box;
        border-left: 1px solid var(--elf--notification-tools-border-color);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > * {
            flex: 1 1 auto;
            border: 0px;
            background-color: transparent;
            box-sizing: border-box;
            border-bottom: 1px solid var(--elf--notification-tools-border-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 12px;            

            &:hover {
                background-color: var(--elf--notification-hover-color);
            }

            &:first-child {
                border-top-right-radius: var(--elf--notification-border-radius);   
            }

            &:last-child {
                border-bottom: 0px;
                border-bottom-right-radius: var(--elf--notification-border-radius);   
            }
        }
    }


}