.elf--notification {
    --elf--notification-background-color: #000000;
    --elf--notification-hover-color: var(--color-gray-9);
    --elf--notification-color: var(--color-white);
    --elf--notification-border-color: rgba(0, 0, 0, 0.1);
    --elf--notification-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15), 0px 5px 17px rgba(0, 0, 0, 0.2);
    --elf--notification-tools-border-color: rgba(255, 255, 255, 0.19);
    --elf--notification-border-radius: 5px;
    --elf--notification-position: absolute;
    --elf--notification-hgap: 10px;
    --elf--notification-vgap: 10px;
    --elf--notification-width: 320px;
    --elf--notification-height: 60px;
    --elf--notification-padding: 20px;

    background-color: var(--elf--notification-background-color);
    border: 0.5px solid var(--elf--notification-border-color);

    box-shadow: var(--elf--notification-box-shadow);
    border-radius: var(--elf--notification-border-radius);   
    color: var(--elf--notification-color);
    
    width: var(--elf--notification-width);
    height: var(--elf--notification-height);
    min-width: 300px;
    

    display: flex;

    position: var(--elf--notification-position);



    &.top-left {
        top: var(--elf--notification-hgap);
        left: var(--elf--notification-vgap);
    }

    &.top-right {
        top: var(--elf--notification-hgap);
        right: var(--elf--notification-vgap);
    }

    &.bottom-left {
        bottom: var(--elf--notification-hgap);
        left: var(--elf--notification-vgap);
    }

    &.bottom-right {
        bottom: var(--elf--notification-hgap);
        right: var(--elf--notification-vgap);
    }

    &.center {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);                
    }

    &.top {
        top: var(--elf--notification-hgap);
        left: 50%;
        transform: translateX(-50%);                
    }

    &.bottom {
        bottom: var(--elf--notification-hgap);
        left: 50%;
        transform: translateX(-50%);        
    }

    &.left {
        left: var(--elf--notification-vgap);
        top: 50%;
        transform: translateY(-50%);        
    }

    &.right {
        right: var(--elf--notification-vgap);
        top: 50%;
        transform: translateY(-50%);
    }

    > .icon {
        flex: none;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        > svg {
            width: 24px;
            height: 24px;

            path {
                fill: var(--elf--notification-color);
            }
            
        }
    }

    > .content {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding: var(--elf--notification-padding);

        > .text {
            line-height: 1.2;
            height: 100%;
            overflow: auto;
        }
    
    }

    > .tools {
        flex: none;
        width: 72px;
        height: 100%;
        box-sizing: border-box;
        border-left: 1px solid var(--elf--notification-tools-border-color);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > * {
            flex: 1 1 auto;
            border: 0px;
            background-color: transparent;
            box-sizing: border-box;
            border-bottom: 1px solid var(--elf--notification-tools-border-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 12px; 
            padding: 0;        
            min-width: 0;
            /* 컴포넌트에 따라서 다르게 해석 할 수도 있음. */
            /* 현재는 notification 에 들어와있는 상태기 때문에 강제함 */
            color: var(--elf--notification-color) !important;

            &:hover {
                background-color: var(--elf--notification-hover-color);
            }

            &:first-child {
                border-top-right-radius: var(--elf--notification-border-radius);   
            }

            &:last-child {
                border-bottom: 0px;
                border-bottom-right-radius: var(--elf--notification-border-radius);   
            }
        }
    }


}