
.elf--radio-group {
    --elf--checkbox-group-gap: 10px;

    display: flex;
    width: fit-content;
    height: fit-content;
    gap: var(--elf--checkbox-group-gap);
    
    > .elf--radio {
        margin-right: 10px;
    }

    &.vertical {
        flex-direction: column;
    }
}