.elf--tab {
    --elf--tab-background-color: var(--tab-color-background-default);
    --elf--tab-text-color: var(--tab-color-text-default);
    --elf--tab-height: auto;
    --elf--tab-font-weight: 500;
    --elf--tab-border-color: rgba(0, 0, 0, 0.1);
    --elf--tab-body-padding: 8px;
    --elf--tab-width: 100%;

    background-color: var(--elf--tab-background-color);
    color: var(--elf--tab-text-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: var(--elf--tab-height);
    width: var(--elf--tab-width);

    &.full {
        --elf--tab-height: 100%;
    }

    > .elf--tab-header {
        flex: none;
    }

    > .elf--tab-body {
        flex: 1 1 auto;
        position: relative;

        > .elf--tab-content-item {
            display: none;

            &.selected {
                display: block;
            }
        }
    }
}