.elf--tooltip {
    --elf--tooltip-background-color: var(--tooltip-color-background-default);
    --elf--tooltip-hover-color: var(--color-neutral-10);
    --elf--tooltip-color: var(--tooltip-color-text-default);
    --elf--tooltip-border-color: var(--color-gray-5);
    --elf--tooltip-box-shadow: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.15));
    --elf--tooltip-tools-border-color: rgba(255, 255, 255, 0.19);
    --elf--tooltip-border-radius: 4px;    
    --elf--tooltip-position: fixed;
    --elf--tooltip-hgap: 10px;
    --elf--tooltip-vgap: 10px;
    --elf--tooltip-arrow-background-color: var(--elf--tooltip-background-color);
    --elf--tooltip-delay: 0.5s;
    --elf--tooltip-content-padding: 4px 10px;
    --elf--tooltip-animation: fadein var(--elf--tooltip-delay) ease-in-out;
    --elf--tooltip-max-width: 160;
    --elf--tooltip-position: relative;
    --elf--tooltip-height: fit-content;
    position: var(--elf--tooltip-position);
    width: fit-content;
    height: var(--elf--tooltip-height);
    display: inline-block;
    z-index: var(--z-index-tooltip);

    &.fixed {
        --elf--tooltip-position: fixed;
        pointer-events: none;

        > .message {
            pointer-events: auto;
        }
    }


    &.primary {
        --elf--tooltip-background-color: var(--color-primary);
        --elf--tooltip-color: var(--color-white);
    }

    &.dark {
        --elf--tooltip-background-color: var(--color-dark-4);
        --elf--tooltip-color: var(--color-white);
    }    

    &.secondary {
        --elf--tooltip-background-color: var(--color-secondary);
        --elf--tooltip-color: var(--color-white);        
    }

    &.success {
        --elf--tooltip-background-color: var(--color-success);
        --elf--tooltip-color: var(--color-white);        
    }

    &.warning {
        --elf--tooltip-background-color: var(--color-warning);
        --elf--tooltip-color: var(--color-white);        
    }

    &.danger {
        --elf--tooltip-background-color: var(--color-danger);
        --elf--tooltip-color: var(--color-white);        
    }

    &.info {
        --elf--tooltip-background-color: var(--color-info);
        --elf--tooltip-color: var(--color-white);        
    }    

    &.no-padding {
        --elf--tooltip-hgap: 0px;
        --elf--tooltip-vgap: 0px;
        --elf--tooltip-content-padding: 0px;
    }


    > .content {
        height: var(--elf--tooltip-height);
    }


    &.animated {
        > .message {
            animation: var(--elf--popover-animation);
        }
    
    }    

    > .message {
        display: flex;
        position: absolute;
        border-radius: var(--elf--tooltip-border-radius);
        background-color: var(--elf--tooltip-background-color);
        color: var(--elf--tooltip-color);
        padding: var(--elf--tooltip-content-padding);
        font-size: 13px;
        box-sizing: border-box;
        filter: var(--elf--tooltip-box-shadow);
        width: auto;
        min-width: var(--elf--tooltip-max-width);
        max-width: var(--elf--tooltip-max-width);        
        white-space: nowrap;
        font-weight: normal;

        .elf--icon {
            width: 20px;
            height: 20px;    
            margin-right: 4px;
        }

        > .arrow {
            position: absolute;
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            
            border-bottom: 5px solid var(--elf--tooltip-arrow-background-color);
            border-top: 0px;
            left: 50%;
            transform: translateX(-50%) translateY(0.5px);
            top: 100%;
            display: inline-block;
            // background-color: var(--elf--tools-arrow-background);
            z-index: 1;
            white-space: nowrap;            
        }

        .icon {
            // flex: none;
        }

        .message-content {
            text-align: left;
            display: inline-block;
            // flex: 1 1 auto;
            // word-break: break-all;
            // text-align: center;
        }

    }

    &.top-left {
        > .message {
            right: 100%;
            bottom: calc(100% + var(--elf--tooltip-hgap));
            transform: translateX(20px);
    
            > .arrow {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                
                border-top: 5px solid var(--elf--tooltip-arrow-background-color);
                border-bottom: 0px;
                right: 5px;
                left: auto;
                transform: translateX(-50%);
            }
        }
    }

    &.top-right {
        > .message {
            left: 100%;
            bottom: calc(100% + var(--elf--tooltip-hgap));
            transform: translateX(-20px);
    
            > .arrow {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                
                border-top: 5px solid var(--elf--tooltip-arrow-background-color);
                border-bottom: 0px;
                left: 10px;
                transform: translateX(-50%);
            }
        }
    }

    &.bottom-left {
        > .message {
            top: calc(100% + var(--elf--tooltip-hgap));
            right: 100%;
            transform: translateX(25px);

            > .arrow {
                left: auto;                
                right: 5px;
                transform: translateX(-50%);
                top: calc(0% - 5px);
            }                        
        }
    }

    &.bottom-right {
        > .message {
            top: calc(100% + var(--elf--tooltip-hgap));
            left: 100%;
            transform: translateX(-20px);

            > .arrow {
                left: 10px;
                right: auto;
                transform: translateX(-50%);
                top: calc(0% - 5px);
            }                        
        }
    }

    &.top {
        > .message {
            bottom: calc(100% + var(--elf--tooltip-hgap));
            left: 50%;
            transform: translateX(-50%);
            > .arrow {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                
                border-top: 5px solid var(--elf--tooltip-arrow-background-color);
                border-bottom: 0px;
                transform: translateX(-50%) translateY(0px);
            }
        }
    }

    &.bottom {
        > .message {
            top: calc(100% + var(--elf--tooltip-hgap));
            left: 50%;
            transform: translateX(-50%);

            > .arrow {
                transform: translateX(-50%);
                top: calc(0% - 5px);
            }            
        }
    }

    &.left {
        > .message {
            top: 50%;
            right: calc(100%);
            transform: translateY(-50%) translateX(calc(-1 * var(--elf--tooltip-vgap)));

            > .arrow {
                left: calc(100% - var(--elf--tooltip-vgap));
                top: 50%;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                
                border-left: 5px solid var(--elf--tooltip-arrow-background-color);
                border-right: 0px;
                transform: translateX(var(--elf--tooltip-vgap)) translateY(-50%);
            }            

        }
    }

    &.right {
        > .message {
            top: 50%;
            left: calc(100%);
            transform: translateY(-50%) translateX(var(--elf--tooltip-vgap));

            > .arrow {
                left: calc(0px - var(--elf--tooltip-vgap)/2);
                top: 50%;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                
                border-right: 5px solid var(--elf--tooltip-arrow-background-color);
                border-left: 0px;
                transform: translateX(0%) translateY(-50%);
            }            
        }
    }   

}