.elf--toolbar {


    --elf--toolbar-background-color: var(--toolbar-color-background-default);
    --elf--toolbar-color: var(--toolbar-color-text-default);
    --elf--toolbar-height: 48px;
    --elf--toolbar-align: space-between;

    display: flex;
    flex-direction: row;
    height: var(--elf--toolbar-height);
    background-color: var(--elf--toolbar-background-color);
    color: var(--elf--toolbar-color);
    justify-content: var(--elf--toolbar-align);
    gap: 24px;

    &.primary {
        --elf--toolbar-background-color: var(--toolbar-color-background-primary);
        --elf--toolbar-color: var(--color-white);
    }

    &.secondary {
        --elf--toolbar-background-color: var(--toolbar-color-background-secondary);
        --elf--toolbar-color: var(--color-white);
    }

    &.dark {
        --elf--toolbar-background-color: var(--toolbar-color-background-dark);
        --elf--toolbar-color: var(--color-white);

    }

    &.success {
        --elf--toolbar-background-color: var(--toolbar-color-background-success);
        --elf--toolbar-color: var(--color-white);
    }    

    &.rounded {
        border-radius: 4px;
    }

    &.emphasized {
        white-space: nowrap;
        // overflow: hidden;
    }

    &.start {
        --elf--toolbar-align: flex-start;
    }

    &.end {
        --elf--toolbar-align: flex-end;
    }

    &.center {
        --elf--toolbar-align: center;
    }

    &.space-around {
        --elf--toolbar-align: space-around;
    }

    &.space-evenly {
        --elf--toolbar-align: space-evenly;
    }



}