:root {
    --font-light: 300;
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    // --color-primary: #18A0FB;
    --color-primary-selected: rgba(20, 110, 245, 1);
    // --elf--primary-color: var(--color-primary);
    // --color-secondary: rgba(0, 0, 0, 0.3);
    --elf--secondary-color: var(--color-secondary);
    // --elf--disabled-color: var(--color-secondary);
    --elf--primary-destructive-color: #F24822;
    --elf--border-color: #e6e6e6;
    --color-primary-hover: #295fd6;
    --color-primary-lightest: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    --color-focus-outer: #ffd337;
    --color-focus-inner: var(--color-neutral-10);
    --color-error-light: #fceaea;
    --color-error: #dc2020;
    --color-warning-light: #fdf6e5;
    --color-warning: #e9a100;
    --color-success-light: #eaf3eb;
    --color-success: #29823b;
    --color-info-light: #e5f5fc;
    --color-info: #017aad;
    --overlay-background: rgba(0, 0, 0, 0.25);
    --space-none: 0;
    --space-xs: 4px;
    --space-s: 8px;
    --space-base: 16px;
    --space-m: 24px;
    --space-l: 32px;
    --space-xl: 40px;
    --space-xxl: 48px;
    --border-radius-none: 0;
    --border-radius-soft: 4px;
    --border-radius-rounded: 100px;
    --border-radius-circle: 100%;
    --border-size-none: 0;
    --border-size-s: 1px;
    --border-size-m: 2px;
    --border-size-l: 3px;
    --header-color: #ffffff;
    --color-background-body: #f3f6f8;
    --color-background-login: #ffffff;
    --header-size: 56px;
    --header-size-content: 48px;
    --side-menu-size: 300px;
    --bottom-bar-size: 56px;
    --footer-height: 0px;
    --os-safe-area-top: env(safe-area-inset-top);
    --os-safe-area-right: env(safe-area-inset-right);
    --os-safe-area-bottom: env(safe-area-inset-bottom);
    --os-safe-area-left: env(safe-area-inset-left);
}