.elf--tabstrip {

    /* default stripType */
    &.underline {}

    &.button {

        &.default {
            --elf--tabstrip-indicator-color: var(--color-gray-2);
            --elf--tabstrip-selected-text-color: var(--color-text-default) !important;
        }

        >.elf--tabstrip-content {
            padding: 0px;

            >.indicator {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                top: 0px;
                height: auto;
                background-color: transparent;

                >.indicator-inner {
                    height: 100%;
                    border-radius: 4px;
                }
            }
        }


        &.primary {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-primary);
        }

        &.secondary {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-secondary);

        }

        &.success {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-success);
        }

        &.warning {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-warning);
        }

        &.danger {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-danger);

        }

        &.info {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-info);
        }
    }

    &.round-group {
        background-color: var(--color-gray-1);
        box-sizing: border-box;
        border-radius: 50px;

        --elf--tabstrip-selected-text-color: var(--color-text-default);
        --elf--tabstrip-indicator-color: var(--color-gray-2);

        --elf--round-group-position: 0px;

        // padding: 5px 10px;
        >.elf--tabstrip-content {
            padding: 0px;
            box-sizing: border-box;
            gap: 0px;

            >.indicator {
                position: absolute;
                bottom: var(--elf--round-group-position);
                left: 0px;
                right: 0px;
                top: var(--elf--round-group-position);
                height: auto;
                background-color: transparent;

                >.indicator-inner {
                    height: 100%;
                    border-radius: 50px;
                }
            }

            >.elf--tabstrip-item {
                >* {
                    padding: 10px 15px;
                }
            }
        }

        &.primary {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-primary);
        }

        &.secondary {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-secondary);

        }

        &.success {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-success);
        }

        &.warning {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-warning);
        }

        &.danger {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-danger);

        }

        &.info {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-info);
        }

        &.dark {
            // --elf--tabstrip-background-color: var(--color-black);
            --elf--tabstrip-text-color: var(--color-white);
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-white);
            --elf--tabstrip-indicator-background-color: var(--color-gray-5);

            >.elf--tabstrip-content {
                >.elf--tabstrip-item {
                    &.selected {
                        --elf--tabstrip-text-color: var(--color-black);
                    }
                }
            }

        }
    }

    &.block {
        background-color: var(--color-gray-1);
        box-sizing: border-box;
        border-radius: 4px;

        --elf--tabstrip-selected-text-color: var(--color-text-default);
        --elf--tabstrip-indicator-color: var(--color-gray-2);

        --elf--round-group-position: 8px;

        // padding: 5px 10px;
        >.elf--tabstrip-content {
            padding: 5px 10px;
            box-sizing: border-box;
            gap: 0px;

            >.indicator {
                position: absolute;
                bottom: var(--elf--round-group-position);
                left: 0px;
                right: 0px;
                top: var(--elf--round-group-position);
                height: auto;
                background-color: transparent;

                >.indicator-inner {
                    height: 100%;
                    border-radius: 4px;
                    box-shadow: var(--shadow-1);
                }
            }

            >.elf--tabstrip-item {
                >* {
                    padding: 10px 15px;
                }
            }
        }

        &.primary {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-primary);
        }

        &.secondary {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-secondary);

        }

        &.success {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-success);
        }

        &.warning {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-warning);
        }

        &.danger {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-danger);

        }

        &.info {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-info);
        }

        &.dark {
            // --elf--tabstrip-background-color: var(--color-black);
            --elf--tabstrip-text-color: var(--color-white);
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-white);
            --elf--tabstrip-indicator-background-color: var(--color-gray-5);

            >.elf--tabstrip-content {
                >.elf--tabstrip-item {
                    &.selected {
                        --elf--tabstrip-text-color: var(--color-black);
                    }
                }
            }

        }
    }    

    &.group {
        &.default {
            --elf--tabstrip-indicator-color: var(--color-gray-2);
            --elf--tabstrip-selected-text-color: var(--color-text-default) !important;
        }

        >.elf--tabstrip-content {
            padding: 0px;
            gap: 0px;

            >.indicator {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                top: 0px;
                height: auto;
                background-color: transparent;

                >.indicator-inner {
                    height: 100%;
                    // border-radius: 4px;
                    transition: none;

                    &.first {
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }

                    &.last {
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }


            }

            >.elf--tabstrip-item {
                border: 1px solid var(--elf--tabstrip-indicator-color);

                &:not(:first-child) {
                    border-left: 0px;
                }
            }
        }


        &.primary {
            --elf--tabstrip-selected-text-color: var(--color-white);
            --elf--tabstrip-indicator-color: var(--color-primary);
        }
    }

    &.classic {
        >.elf--tabstrip-content {
            padding: 0px;
            gap: 0px;

            >.indicator {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                top: 0px;
                height: auto;
                background-color: transparent;

                >.indicator-inner {
                    height: 100%;
                    // border-radius: 4px;
                    border: 1px solid var(--elf--tabstrip-indicator-color);
                    background-color: transparent;
                    border-bottom: 0px;
                    transition: none;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
            }


            >.elf--tabstrip-item {


                &:not(.selected) {
                    border-bottom: 1px solid var(--elf--tabstrip-indicator-color);
                }
            }            
        }

        &.primary {
            --elf--tabstrip-indicator-color: var(--color-primary);            
            --elf--tabstrip-selected-text-color: var(--color-primary);
        }

    }


}