.elf--button.dark {

  --elf--button-background-color: var(--button-default-background-dark);
  --elf--button-text-color: var(--button-default-text-dark);
  --elf--button-border-color: var(--button-default-border-dark);

  &.selected {
    --elf--button-background-color: var(--button-selected-background-dark);
    --elf--button-border-color: var(--button-selected-border-dark);
  }

  &:active,
  &.active {
    --elf--button-background-color: var(--button-active-background-dark);
    --elf--button-border-color: var(--button-active-border-dark);
  }

  &:hover,
  &.hover {
    --elf--button-background-color: var(--button-hover-background-dark);
    --elf--button-text-color: var(--button-hover-text-dark);
    --elf--button-border-color: var(--button-hover-border-dark);
  }

  &:focus,
  &.focused {

    &:not(.quiet):not(.outline) {
      outline: 2px solid var(--button-default-border-dark);
      --elf--button-border-color: var(--color-background-default);
      border-width: 2px;
    }

  }

  &.outline {

    --elf--button-border-color: var(--button-outline-border-dark);
    --elf--button-text-color: var(--button-outline-text-dark);
    --elf--button-background-color: var(--button-outline-background-dark);

    &:hover,
    &.hover {
      --elf--button-background-color: var(--button-default-background-dark) !important;
      --elf--button-text-color: var(--button-default-text-dark) !important;
      // --elf--button-border-color: var(--button-default-border-dark) !important;
    }
  }
}